/********分页插件*********/
/*.pagination {text-align:center;}
.pagination a {text-decoration: none;border: 1px solid #ddd;color: #343434;}
.pagination a, .pagination span {display: inline-block;padding: 0.1em 0.4em;margin-right: 5px;margin-bottom: 5px;}
.pagination .current {background: #26B;color: #fff;border: 1px solid #AAE;}
.pagination .current.prev, .pagination .current.next{color:#999;border-color:#999;background:#fff;}
  .pagination li { display: inline-block; }*/
/************回到顶部插件**************/

.clearfix:before, .clearfix:after { drawInfo: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.clear { clear: both; }
.blank0, .blank5, .blank10, .blank15, .blank20, .blank25, .blank30, .blank60 { height: 0px; line-height: 0; clear: both; font-size: 0px; overflow: hidden; }
.nblank0, .nblank5, .nblank10, .nblank15, .nblank20, .nblank25, .nblank30, .nblank60 { height: 0px; line-height: 0; font-size: 0px; overflow: hidden; }
.blank5, .nblank5 { height: 5px; }
.blank10, .nblank10 { height: 10px; }
.blank15, .nblank15 { height: 15px; }
.blank20, .nblank20 { height: 20px; }
.blank25, .nblank25 { height: 25px; }
.blank30, .nblank30 { height: 30px; }
.blank60, .nblank60 { height: 60px; }
/*#mainType .table_ball .blue01,#content .table_ball .blue01 { color: #0047fa !important; }
#mainType  .table_ball .green01{ color: #066306 !important; }
#mainType  .table_ball .red01{ color: #9b2302 !important; }*/
 
.blue02 { background: url(../images/blue01.png) center center no-repeat !important; font-weight: bold;/*color: #fff !important;*/ }
.green02 { background: url(../images/green01.png) center center no-repeat !important; font-weight: bold;/*color: #fff !important;*/ }
.red02 { background: url(../images/red01.png) center center no-repeat !important;font-weight: bold; /*color: #fff !important;*/ }
.blue03 { font-style: normal; padding: 0 10px; }
.green03 { font-style: normal; padding: 0 10px; }
.red03 { font-style: normal; padding: 0 10px; }
.blue { background: url(../images/blue.png) no-repeat; }
.green { background: url(../images/green.png) no-repeat; }
.red { background: url(../images/red.png) no-repeat; }

.bet_panel .blue01 { background: url(../images/blue01.png) center center no-repeat; color: #fff !important; }
.bet_panel .green01 { background: url(../images/green01.png) center center no-repeat; color: #fff !important; }
.bet_panel .red01 { background: url(../images/red01.png) center center no-repeat; color: #fff !important; }
.bet_panel .blue02 { background: #0047fa !important; color: #fff !important; }
.bet_panel .green02 { background: #066306 !important; color: #fff !important; }
.bet_panel .red02 { background: #9b2302 !important; color: #fff !important; }
.bet_panel .blue03 { font-style: normal; padding: 0 10px; color: #0047fa; }
.bet_panel .green03 { font-style: normal; padding: 0 10px; color: #066306; }
.bet_panel .red03 { font-style: normal; padding: 0 10px; color: #9b2302; }
.bet_panel .blue { background: url(../images/blue.png) no-repeat; }
.bet_panel .green { background: url(../images/green.png) no-repeat; }
.bet_panel .red { background: url(../images/red.png) no-repeat; }

.backgroundColor2 { background-image: url(images/report/b2.gif) !important; color: #000 !important; height: 24px !important; line-height: 24px !important; }
.backgroundColor3 { background-image: url(images/report/b3.gif) !important; color: #000 !important; height: 24px !important; line-height: 24px !important; }
.backgroundColor4 { background-image: url(images/report/b4.gif) !important; color: #000 !important; height: 24px !important; line-height: 24px !important; }
.navReport { height: 26px; font-size: 12px; font-family: 微软雅黑; padding-left:5px; }
.navReport strong { font-weight: bold; margin: 0px 10px 0px 10px; }
.navReport span { font-weight: bold; margin: 0px 10px 0px 10px; }
.navReport a { font-weight: bold; margin: 0px 10px 0px 10px; background-color: #e8ccff; padding: 3px 5px 3px 5px; overflow: hidden; }
.navReport a:hover { border: 1px solid #0000ff; padding: 2px 4px 2px 4px; }
.redWarn { color: red !important; }
.cellstyle { background-color: yellow; }

.lotteryhistory .status1 { background: url("../images/checked.gif") no-repeat; width: 18px; height: 18px; display: block; margin: auto; }
.lotteryhistory .status0 { background: url("../images/unchecked.gif") no-repeat; width: 18px; height: 18px; display: block; margin: auto; }

.user_panel td { text-align: left; }
 


/* Overlays */
.ui-dialog .ui-dialog-buttonpane{padding:0.4em;}
.dialog-no-title .ui-dialog-titlebar { display: none; }
.dialog-loading { }
.dialog-loading .dialog-html { text-align: center; font-weight: bold; line-height: 50px; font-size: 14px; color: green; }
.dialog-alert { }
.dialog-alert .dialog-html { vertical-align: middle; text-align: center; font-weight: bold; font-size: 16px; color: green; margin: 20px 0px;  }
.dialog-alert .dialog-html span.img { vertical-align: middle; display: inline-block; background-image: url(images/success.gif); height: 35px; width: 35px; margin-right: 10px; }
.dialog-error { }
.dialog-error .dialog-html { vertical-align: middle; text-align: center; font-weight: bold; font-size: 16px; color: red; margin: 20px 0px; }
.dialog-error .dialog-html span.img { vertical-align: middle; display: inline-block; background-image: url(images/error.gif); height: 35px; width: 35px; margin-right: 10px; }
.dialog-confirm { }
.dialog-confirm .dialog-html { vertical-align: middle; text-align: center; font-weight: bold; font-size: 16px; color: green; margin: 20px 0px; }
.dialog-confirm .dialog-html span.img { vertical-align: middle; display: inline-block; background-image: url(images/prompt.gif); height: 35px; width: 35px; margin-right: 10px; }
.error_box {
    width: 300px;
    height: 300px;
    display: block;
    margin: 10% auto;
}
.fastBtnDiv { margin-top: 5px;}
.fastBtnDiv .fast_button {
    margin-bottom: 5px;
}
.offestDiv button {
    -webkit-box-shadow: #8c8c8c 2px 2px;
    box-shadow: #8c8c8c 2px 2px;
} 
.offestDiv {
      display: inline-block;
  }
/*button.btn-default, button.btn-choose, button.btn-inverse, a.btn-default, .systemSetting button.btn-primary {
    color: #333 !important;
    background: #F7F7F7 !important;
    border: 1px solid #AAA !important;
}*/

.fastBtnDiv button {
    -webkit-box-shadow: #8c8c8c 2px 2px;
    box-shadow: #8c8c8c 2px 2px;
    color: #686868;
    background-color: #f2f2f2;
    line-height: 1.5;
    border: #DDD 1px solid;
    border-radius: 3px;cursor: pointer;
    outline: none;
}
.fastBtnDiv button:hover { 
    color: #686868;
    background: #E7E7E7; 
}
/*.multiRatePlus .fa-plus {
    background: url(../images/add.png) no-repeat 0px 2px;
}

.multiRateMinus .fa-minus {
    background: url(../images/sub.png) no-repeat 0 center;
}*/

.multiRatePlus {
    width: 20px;
    height: 19px;
    background: url(../images/add.png) no-repeat left center;
    cursor: pointer;
    border-style: none;
}
.multiRateMinus {
    width: 20px;
    height: 19px;
    background: url(../images/sub.png) no-repeat left center;
    cursor: pointer;
    border-style: none;
} 
/*.offestDiv button i {
    color: #686868;
}*/

.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
td .duplexBetDetail { display: none; position: absolute; top: 0; right: 0; }
td .duplexBetDetail table { background-color: #ddd; min-width: 300px; }
td .duplexBetDetail table td { background-color: #ddd; }
td .duplexBetDetail table th { background-color: #ddd; }
td.dpxMore { color: blue; font-weight: bold; }
td.dpxMore:hover { position: relative; }
td.dpxMore:hover .duplexBetDetail { display: block; }