.odds {
	background: url("/css/default/img/ball/ball_hk6.png") no-repeat; 
	width: 25px;
	height: 25px;
	font-size: 0px;
	text-indent: -99999px;
	transform:scale(1.1);
    -ms-transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -o-transform:scale(1.1);
    -moz-transform:scale(1.1);
}

.x1 {	background-position: 0 0px;}
.x2 {	background-position: 0 -27px;}
.x3 {	background-position: 0 -54px;}
.x4 {	background-position: 0 -81px;}
.x5 {	background-position: 0 -108px;}
.x6 {	background-position: 0 -135px;}
.x7 {	background-position: 0 -162px;}
.x8 {	background-position: 0 -189px;}
.x9 {	background-position: 0 -216px;}
.x10 {	background-position: 0 -243px;}
.x11 {	background-position: 0 -270px;}
.x12 {	background-position: 0 -297px;}
.x13 {	background-position: 0 -324px;}
.x14 {	background-position: 0 -351px;}
.x15 {	background-position: 0 -378px;}
.x16 {	background-position: 0 -405px;}
.x17 {	background-position: 0 -432px;}
.x18 {	background-position: 0 -459px;}
.x19 {	background-position: 0 -486px;}
.x20 {	background-position: 0 -513px;}
.x21 {	background-position: 0 -540px;}
.x22 {	background-position: 0 -567px;}
.x23 {	background-position: 0 -594px;}
.x24 {	background-position: 0 -621px;}
.x25 {	background-position: 0 -648px;}
.x26 {	background-position: 0 -675px;}
.x27 {	background-position: 0 -701px;}
.x28 {	background-position: 0 -728px;}
.x29 {	background-position: 0 -755px;}
.x30 {	background-position: 0 -782px;}
.x31 {	background-position: 0 -809px;}
.x32 {	background-position: 0 -836px;}
.x33 {	background-position: 0 -863px;}
.x34 {	background-position: 0 -890px;}
.x35 {	background-position: 0 -917px;}
.x36 {	background-position: 0 -944px;}
.x37 {	background-position: 0 -971px;}
.x38 {	background-position: 0 -998px;}
.x39 {	background-position: 0 -1025px;}
.x40 {	background-position: 0 -1052px;}
.x41 {	background-position: 0 -1079px;}
.x42 {	background-position: 0 -1106px;}
.x43 {	background-position: 0 -1133px;}
.x44 {	background-position: 0 -1160px;}
.x45 {	background-position: 0 -1187px;}
.x46 {	background-position: 0 -1214px;}
.x47 {	background-position: 0 -1242px;}
.x48 {	background-position: 0 -1269px;}
.x49 {	background-position: 0 -1296px;}

