{+include file='header2.html'+} 
<script language="javascript" type="text/javascript" src="../js/My97DatePicker/WdatePicker.js"></script>
<style>
a.red{color:#D50000}
.control a.blue{border: 1px solid #ddd;
    color: #2161b3 !important;
    background: #f9f9f9;
	 padding: 4px 8px;}
	 .control span.chu{border: 1px solid #2161b3;
    color: #fff !important;
    background-color: #2161b3;
    padding: 4px 10px;}
	select{     padding: 3px 5px;}
</style>
</head>
<body>
<script id=myjs language="javascript">var mulu='{+$mulu+}';var js=1;var sss='his';</script>
<div class="jt-container">
	<div class="top_info">
		<span class="title">公司控盘日志</span><div class="center">日期范围：<INPUT type="text" value="{+$deldate+}" class="deldate date" style="width: 80px;" size=8 />&nbsp;之前&nbsp;<input type="button" value="清空" class="button del btn4"  /></div><span class="right">&nbsp;&nbsp;<a class="back" onclick="javascript:history.back(-1);" href="javascript:void(0);">返回</a></span>
	</div>
<div class="s_main">
			<div class="sub_w2 pages" style="margin:0px;">
             

            <div class="page-tabs">
                <div class="tab_con2 clear " id="scroll_div2">
                    <ul id="sliderLottery">
					<li>
					<a href="javascript:void(0)" class="show"  page="show">登录日志</a>
<a href="javascript:void(0)" class="useredit" page="useredit">会员操作日志</a>
<a href="javascript:void(0)" class="adminedit" page="adminedit">代理操作日志</a>
<a href="javascript:void(0)" class="agentpeilv" page="agentpeilv">公司控盘日志</a>	
<a href="javascript:void(0)" class="adminpeilv" page="adminpeilv">代理控盘日志</a>
                    </ul>
                </div>
            </div>
        </div>
 <table class="data_table list table_center nrtb" style="margin-top:10px;">
  <thead>
  <tr>
   <th><input type="checkbox" id='clickall' />
    全选</th><th>
       <select class="game">
 {+section name=i loop=$game+}
  
     <option value="{+$game[i].gid+}" {+if $game[i].gid==$gid+}selected{+/if+}>{+$game[i].gname+}</option>
     
  {+/section+}
   </select>
    </th>
    <th>种类</th>
     <th>调赔值</th>
   <th>操作	</th>
   <th>操作时间</th>
   <th>操作员</th>
   <th><input type="button" class="btn7 btnf" id='delselect' style="width: 70px;"  value="删除选中" />
</th>
  </TR></thead>
  {+section name=i loop=$p+}
  <TR>
   <td><input type="checkbox" value='{+$p[i].id+}' /></td>
   <td>{+$p[i].gname+}</td>
   <td>{+$p[i].pid+}</td>
   <td style="color:#ce0000;">{+$p[i].peilv+}</td>
   <td>{+$p[i].auto+}</td>
   <td style="color: olivedrab;" >{+$p[i].time+}</td>
   <td>{+$p[i].sonuser+}</td>
   <td><input type="button" class="delone btn4 btnf" value='删除' /></td>
  </TR>
  {+/section+}
 </table>
 <div class="control">
		<span>{+$page+}</span>
	</div>	
</div>
<script language="javascript">
	var page = 'agentpeilv';
	</script>
<div id='test'></div>
</body>
</html>