<div class="main reset_bg">
                        <div class="reset_box1">
                            <div class="reset_con">

                                <li>
                                    <i class="ico_pw_w"></i>
                                    <dt>

                                        <input id="oldPassword" name="oldpassword" type="password" required="required" class="ico_mobile input oldpassword" autocomplete="off" placeholder="原始密码" title="原始密码">

                                    </dt>
                                </li>
                                <li>
                                    <i class="ico_pwd"></i>
                                    <dt>

                                        <input id="newpassword" name="newpassword" type="password" required="required" class="ico_mobile input newpassword" autocomplete="off" placeholder="新设密码" title="新设密码">

                                    </dt>
                                </li>
                                <li>
                                    <i class="ico_pwd"></i>
                                    <dt>

                                        <input id="confirmpassword" name="confirmpassword" type="password" required="required" class="ico_mobile input confirmpassword" autocomplete="off" placeholder="确认密码" title="确认密码">

                                    </dt>
                                </li>
                            </div>
                            <div class="ftcolor_red" id="divErrorMsg" style="display: none;"></div>
                            <div class="btn_wrap">
                                <a class="blue_btn" href="javascript:void(0)">修改</a>

                            </div>

                        </div>


                    </div>