<div class="content">
            <div class="main marT">

                <div class="rule_box">
                    <div class="tit_box">
                        <span>重要声明</span>
                    </div>
                    <li>
                        <i>1</i>
                        <dt>
                            如果客户怀疑自己的资料被盗用，应立即通知本公司，并更改详细资料，以前的使用者名称及密码将全部无效。
                        </dt>
                    </li>
                    <li>
                        <i>2</i>
                        <dt>
                            客户有责任确保自己的帐户及登入资料的保密性。以使用者名称及密码进行的任何网上投注将被视为有效。
                        </dt>
                    </li>
                    <li>
                        <i>3</i>
                        <dt>
                            公布赔率时出现的任何打字错误或非故意人为失误，本公司保留改正错误和按正确赔率结算投注的权力。
                        </dt>
                    </li>
                    <li>
                        <i>4</i>
                        <dt>
                            每次登入时客户都应该核对自己的帐户结余额。如对余额有任何疑问，请在第一时间内通知本公司。
                        </dt>
                    </li>
                    <li>
                        <i>5</i>
                        <dt>
                            一旦投注被接受，则不得取消或修改。所有号码赔率将不时浮动，派彩时的赔率将以确认投注时之赔率为准。
                        </dt>
                    </li>
                    <li>
                        <i>6</i>
                        <dt>
                            每注最高投注金额按不同[场次]及[投注项目]及[会员帐号]设定浮动。如投注金额超过上述设定，本公司有权取消超过之投注金额。
                        </dt>
                    </li>
                </div>