body{ font-size:14px; font-family:font-Arial,sans-serif; margin:0; padding:0; background:#e7e6e2;}

div,ul,ol,li,form,img,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,pre,code,form,fieldset,legend,button,input,textarea{ margin:0; padding:0; border:0; list-style:none; }

a{ text-decoration:none;}
.reg_info{ width:1000px; margin:0 auto;}
.reg_title{ background:url(../imgs/reg_line.gif) repeat-x left bottom; margin:0 0 45px 0;}
.reg_title img{ display:block; margin:0 12px; float:left;}
.reg_title li{ font-size:24px; color:#ce483f; line-height:40px; margin:0 0 20px 0; background: url("../imgs/ico_reg.gif") no-repeat left; padding-left: 50px}

.reg_te{ width:96%; margin:0 auto;}
.reg_te li{ font-size:16px; line-height:38px; color:#898989; margin:0 0 18px 0;}
.reg_te span{ display:block; width:100px; font-size:18px; color:#313131; text-align:right; float:left;}
.reg_te li input{ border-top:1px solid #b8b8b8; border-left:1px solid #b8b8b8; border-right:1px solid #cccccc; border-bottom:1px solid #cccccc; margin:0 15px 0 0; float:left;}
.reg_te li img{ display:block; float:left;}

.reg_bu{ margin:0 0 60px 0;}
.reg_bu li{ font-size:16px; color:#898989; line-height:40px; margin:30px 0;}
.reg_bu a{ display:block; width:202px; height:43px; text-indent:-9999em; margin:0 20px 0 115px; float:left;}
.bu_reg{ background:url(../img/reg_bu.jpg) no-repeat left top;}
.bu_reg:hover{ background:url(../img/reg_bu.jpg) no-repeat left -43px;}
.bu_login{ background:url(../img/reg_bu.jpg) no-repeat left -86px;}
.bu_login:hover{ background:url(../img/reg_bu.jpg) no-repeat left -129px;}

.bu_line{ border-bottom:4px solid #e3e3e3; padding:0 0 30px 0;}

.te01{ width:300px; height:34px; font-size:20px; line-height:34px; text-indent:5px; }
.te02{ width:120px; height:34px; font-size:20px; line-height:34px; text-indent:5px; }

.footer{ color:white; line-height:30px; background:#594b47; text-align:right;}
.footer ul{ width:1000px; margin:0 auto;}

.header{ width:100%; height:160px; background:#000;}
.headerc{ height:160px; margin:0 auto; background:url(../img/reg_bg.jpg) no-repeat center top;}
.header ul { width:1120px; margin:0 auto}
.header li{ float:left; padding-top:20px;}
.header span{ display:block; width:450px; height:40px; font-size:20px; color:white; line-height:40px; background:#594b48; text-indent:20px; margin:100px 0 0 0; float:right;}

.reg_nav{ width:100%; height:50px; background:url(../imgs/reg_navbg.jpg) repeat-x left top;}