{+include file='headers.html'+}
<script type="text/javascript" src="../js/jquery-ui.js"></script>
<script type="text/javascript" src="../js/jquery.ui.datepicker-zh-CN.js"></script>
<link href="/default/css/g_HK6.css" rel="stylesheet" />
</head>
<body class="L_HK6">
<style>
    #pageDiv {
        font-size: 13px;
    }

    .list tbody .hover td, .list tbody .hover:nth-child(even) {
        background: rgb(255,255,198);
    }
</style>
<script id=myjs language="javascript">var mulu='{+$mulu+}';var js=1;var sss='longs';</script>
<div class="jt-container">

<div class="kj_s" style="display: none;">
<ul>
<li>
<label>彩种：</label><select id="game" name="game">
{+section name=i loop=$game+}
<option value="{+$game[i].gid+}" {+if ($game[i].gid==$gid)+}selected{+/if+}>{+$game[i].gname+}</option>
{+/section+}</select></li></ul></div>
<div id="drawInfo" class="contents s_main kj_box kj_hk6">
<table class="list data_table table_ball">
<thead>
           <tr><th rowspan="2" nowrap="nowrap">期数</th>
			<th rowspan="2" nowrap="nowrap">日期</th>
			<th colspan="14" nowrap="nowrap">彩球号码</th>
			<th rowspan="2" nowrap="nowrap">总分</th>
			<th>总</th>
			<th>总</th>
			<th>特</th>
			<th>特</th>
			<th>特</th>
			<th>特</th>
			<th nowrap="nowrap">特合</th>
			<th nowrap="nowrap">特合</th>
			<th nowrap>特合尾</th>
			<th rowspan="2">波段</th>
			</tr>
	  <tr><th colspan="2">一</th>
			<th colspan="2">二</th>
			<th colspan="2">三</th>
			<th colspan="2">四</th>
			<th colspan="2">五</th>
			<th colspan="2">六</th>
			<th colspan="2">特</th>
			<th nowrap="nowrap">单双</th>
			<th nowrap="nowrap">大小</th>
			<th nowrap>生肖</th>
			<th nowrap="nowrap">五行</th>
			<th nowrap="nowrap">单双</th>
			<th nowrap="nowrap">大小</th>
			<th nowrap="nowrap">单双</th>
			<th nowrap="nowrap">大小</th>
			<th nowrap="nowrap">大小</th></tr>   </thead>
<tbody>
{+section name=i loop=$list+}
<tr>
<td class="period">{+$list[i].qishu+}</td>
<td class="drawTime">{+$list[i].time+}</td>
{+foreach item=k from=$list[i].ma+}
<td class="name">{+if $k!=''+}<span class="b{+$k|substr:0:2+}">{+$k|substr:0:2+}</span></td>
<td class="name"><label class="sxs">{+$k|substr:3+}</label>{+/if+}</td>
{+/foreach+}
{+foreach item=n from=$list[i].m+}
   <td class="name {+if ($n=='绿')+}green01{+elseif ($n=='红')+}red01{+elseif  ($n=='蓝')+}blue01{+elseif  ($n=="大"  || $n=="合单" || $n=="尾大" || $n=="单" || $n=="合大")+}dx_d{+/if+}">{+$n+}</td>
{+/foreach+}
</tr>
{+/section+}
</tbody></table>
</div>
</div>
</body>
</html>